@media only screen and (max-width: 991px) {
    .s_c {
        padding-top: 40px;
    }
}

.page-enter {
    transform: translateY(100%);
}

.page-enter-active {
    transform: translateY(0%);
    transition: all 400ms ease-out;
}

.page-exit {
    transform: translateY(0%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.page-exit-active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-130%);
    transition: all 400ms ease-out;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}
.portfolio-image {
    width: 100%; /* Ensures the image takes the full width of its container */
    height: 100%; /* Ensures the image takes the full height of its container */
    object-fit: cover; /* Ensures the image fills the container without distortion */
    display: block; /* Removes any inline spacing issues */
    max-height: 300px; /* Limits the height to match the container */
}

.portfolio-item {
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    position: relative;
}